body {
    text-align: center;
    font-family: 'Montserrat-Black';
}
input {
    padding:5px;
    background-color:transparent;
    border:none;
    border-bottom:solid 4px #0275d8;
    width:250px;
    font-size:16px;
}

.breeSerif{
  font-family: 'Bree Serif', serif;
}

h1{
    font-family: 'Montserrat-black', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    color: #fff;
}
h3{
    font-family: 'Montserrat';
}
#title{
    background-color: #77ACF1;
    padding:20px;

}
nav {
    padding: 0 0 4.5rem ;
    background-color: #28559A;
    margin-bottom: 4.5rem;
}
.container-fluid{
    padding: 1% 7%;
}
.navbar-brand{
    font-size: 1.7rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
}
.log-btn{
    margin: 5% 3%;
}
.sign-btn{  
    margin: 5% 3%;
}

/* Section caractéristique */

#caractéristique{
    padding: 7% 15%;
}

.caract-box{
    text-align: center;
    padding: 3%;
}
#caractéristique  p {
    color: #8f8f8f;
}
.icon{
    margin-bottom: 1rem;
    color: #77ACF1;
    
}
.icon:hover{
    color:#28559A;
}

#cta{
  background-color: #77ACF1;
  color: #fff;
  padding: 7% 15%;
  text-align: center; 
}

/* Section Footer */

#footer{
  padding: 7% 15%;
  text-align: center;
}

.social-icon{
  margin: 20px 10px;
}






/* Login */

.container {
    padding: 2rem 0rem;
  }
  
  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 400px;
    }
    .modal-dialog .modal-content {
      padding: 1rem;
    }
  }
  .modal-header .close {
    margin-top: -1.5rem;
  }
  
  .form-title {
    margin: -2rem 0rem 2rem;
  }
  
  .btn-round {
    border-radius: 3rem;
  }
  
  .delimiter {
    padding: 1rem;
  }
  
  .social-buttons .btn {
    margin: 0 0.5rem 1rem;
  }
  
  .signup-section {
    padding: 0.3rem 0rem;
  }
 
/* Sign up */

.col{
    margin: 1% 10%;
}